.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section-nav-button {
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 5px #666;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.section-nav-button:hover {
  transform: scale(1.1);
}

.section-nav-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.question-container {
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 62vh;
  margin: 10px auto;
  width: 50rem;
  padding: 10px;
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.question-section {
  margin-bottom: 10px;
  width: 45rem;
  display: flex;

  flex-direction: column;
  padding: 0px;
}

.question-text {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.question-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.question-input:focus {
  border: 1px solid #4285f4;
}

.submit-button {
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 5px #666;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.submit-button:hover {
  transform: scale(1.1);
  background-color: #3b7be3;
}


.question-input[type="checkbox"] {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.question-input[type="checkbox"]:focus {
  border: 2px solid #4285f4;
}

.question-input[type="checkbox"]:checked {
  background-color: #4285f4;
  border-color: #4285f4;
}


.question-input[type="date"] {
  display: inline-block;
  width: 10rem;

  margin-right: 10px;
}